{% extends "layout.njk" %}
{% block content %}
<div class="container-md d-flex flex-column min-vh-100" style="max-width: 60vw;">
    <div style="margin-bottom: 1rem;">
        {{ markdownHtml | safe }}
    </div>
</div>
<footer class="container-md" style="max-width: 60vwn; margin-top: auto;">
    <div class="d-flex justify-content-between container-md" style="max-width: 60vw;">
        {% if previd %}
        <a href="/fullPost/{{ previd }}" class="btn btn-primary">prev. post by {{ user }}</a>
        {% endif %}
        {% if nextid %}
        <a href="/fullPost/{{ nextid }}" class="btn btn-primary">next post by {{ user }}</a>
        {% endif %}
    </div>
</footer>
{% endblock %}