{% extends "layout.njk" %}
{% block content %}
<div class="container-md" style="max-width: 60vw;">
    <nav aria-label="Page navigation example" style="padding-top: 1rem;">
        <ul class="pagination">
            {% if previd %}
            <li class="page-item"><a class="page-link" href="/fullPost/{{ previd }}"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% if nextid %}
            <li class="page-item"><a class="page-link" href="/fullPost/{{ nextid }}"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
      </nav>
    <div style="margin-bottom: 1rem; word-wrap: break-word;">
        {{ markdownHtml | safe }}
        <hr>
        <div class="d-flex justify-content-between">
            <p style="margin-top: auto; margin-bottom: auto;" >This post was written by:</p>
            <div class="d-flex">
                <p style="margin-top: auto; margin-bottom: auto; margin-right: 1rem;" >{{ post.user }}</p>
                <img src="https://avatars.dicebear.com/api/miniavs/{{user}}.svg" alt="profile picture" width="50"
                    height="50" style="width: 2.5rem; height: 2.5rem; background: cadetblue; border-radius: 100%;">
            </div>
        </div>
    </div>
</div>
{% endblock %}