{% extends "layout.njk" %}
{% block  content %}
    <div class="container-md">
    {% for post in posts %}
        <div class="card" style="margin-top: 1rem;">
            <div class="card-header">
                {{ post.user }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.heading }}</h5>
              <p class="card-text">{{ post.description }}</p>
              <div class="d-flex justify-content-between">
                <a href="/fullPost/{{ post.id }}" class="btn btn-primary">Read full post</a>
                <form action="/delete/{{ post.id }}" method="post">
                  {% if post.user == user %}
                    <button type="submit" class="btn btn-danger">Delete post</button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
{% endblock %}