{% extends "layout.njk" %}
{% block content %}
<div class="container-sm">
    <div class="mx-auto" style="display: flex;justify-content: center;">
        <div style="text-align: center;">
            <img src="https://avatars.dicebear.com/api/miniavs/{{user}}.svg" alt="profile picture" width="300"
                height="400" style="object-fit: cover; object-position: 20% 0;">
            <h1>{{user}}</h1>
        </div>
    </div>
    <div style="margin-left: 15%; margin-right: 15%;">
        <form action="/post" method="post">
            <div class="form-floating" style="margin-bottom: 1rem">
                <input type="text" class="form-control" id="floatingHeading" placeholder="Write your heading"
                    aria-label="Heading" name="heading" aria-describedby="basic-addon1">
                <label for="floatingHeading">Heading</label>
            </div>
            <div class="form-floating" style="margin-bottom: 1rem">
                <textarea name="fullText" class="form-control" placeholder="Write your full text" id="floatingBody"
                    style="height: 300px; max-height: 300px; min-height: 300px"></textarea>
                <label for="floatingBody">Full text</label>
            </div>
            <div class="form-floating" style="margin-bottom: 1rem">
                <textarea  name="description" class="form-control" placeholder="write your Description" id="floatingDescription"
                    style="height: 150px; max-height: 150px; min-height: 150px;"></textarea>
                <label for="floatingDescription">Description</label>
            </div>
            <div style="display: flex; flex-direction: row-reverse; margin-bottom: 1rem;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}